In [8]:
import pandas as pd
from pandas import DataFrame
from pathlib import Path
from typing import List
from glob import glob

In [5]:
def recursive_glob(root: str, pattern: str) -> List[Path]:
    return [Path(p) for p in glob(str(Path(root) / "**" / pattern), recursive=True)]

In [ ]:
data_directory = Path('/data/msc-proj')
train_dir = data_directory / 'Training_Set'
csv_ann_paths = recursive_glob(train_dir, '*.csv')

In [9]:
def parse_csv_ann(csv_ann_path: Path) -> DataFrame:
    return pd.read_csv(csv_ann_path)

In [12]:
df = parse_csv_ann(csv_ann_paths[0])
df

   dataset              recording class_code          class_name
0       PB   BUK1_20181011_001004          Q      Blackbird call
1       PB   BUK1_20181013_023504          Q    Song thrush call
2       PB   BUK4_20161011_000804          Q    Song thrush call
3       PB  BUK4_20171022_004304a          Q      Blackbird call
4       PB  BUK5_20161101_002104a          Q      Blackbird call
5       PB  BUK5_20180921_015906a          Q    Song thrush call
6     PB24   BUK4_20160925_231604          Q    Song thrush call
7     PB24  BUK5_20180921_015906a          Q    Song thrush call
8     PB24   BUK5_20181007_011905          Q    Song thrush call
9     PB24  BUK4_20161031_232104a          Q      Blackbird call
10      ME                    ME1          Q   Meerkat move call
11      ME                    ME2          Q  Meerkat alarm call